/*
 *  Copyright (C) 2013 Steffen Trumtrar <s.trumtrar@pengutronix.de>
 *  Copyright (C) 2016 Stephen Arnold <nerdboy@gentoo.org>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_cyclone5.dtsi"
/*#include <dt-bindings/interrupt-controller/irq.h>*/

/ {
	model = "Terasic DE1-SoC";
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>; /* 1GB */
	};

	aliases {
		ethernet0 = &gmac1;
	};

	regulator_3_3v: 3-3-v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	leds {
		compatible = "gpio-leds";
		hps0 {
			label = "hps_led0";
			gpios = <&portb 24 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	sound {
		compatible = "opencores,de1soc-wm8731-audio";
		i2s-controller = <&i2s>;
		audio-codec = <&wm8731>;
		//i2c-mux-gpio = <&portb 19 0>;
	};

	clk48: clk48 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency  = <24576000>;
		clock-output-names = "clk48";
	};

	clk44: clk44 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency  = <33868800>;
		clock-output-names = "clk44";
	};

	i2s: i2s@0 {
		#sound-dai-cells = <1>;
		compatible = "opencores,i2s";
		reg = <0xff200000 0x20>, <0xff200020 0x20>, <0xff200040 0x20>;
		clocks = <&clk44>, <&clk48>;
		clock-names = "clk44", "clk48";
		dmas = <&pdma 0>, <&pdma 1>, <&pdma 2>;
		dma-names = "tx", "rx", "rx";
	};
};
/*	vip2@100 {*/
/*		compatible = "altr,vip-frame-reader-1.0", "altr,vip-frame-reader-9.1";*/
/*		reg = <0xff200100 0x180>;*/
/*		max-width = <0x556>;*/
/*		max-height = <0x300>;*/
/*		mem-word-width = <0x80>;*/
/*		bits-per-color = <0x8>;*/
/*	}; */

&gmac1 {
	status = "okay";
	phy-mode = "rgmii";

	txd0-skew-ps = <0>; /* -420ps */
	txd1-skew-ps = <0>; /* -420ps */
	txd2-skew-ps = <0>; /* -420ps */
	txd3-skew-ps = <0>; /* -420ps */
	rxd0-skew-ps = <420>; /* 0ps */
	rxd1-skew-ps = <420>; /* 0ps */
	rxd2-skew-ps = <420>; /* 0ps */
	rxd3-skew-ps = <420>; /* 0ps */
	txen-skew-ps = <0>; /* -420ps */
	txc-skew-ps = <1860>; /* 960ps */
	rxdv-skew-ps = <420>; /* 0ps */
	rxc-skew-ps = <1680>; /* 780ps */

	max-frame-size = <9000>;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	speed-mode = <0>;

	wm8731: wm8731@34 {
		#sound-dai-cells = <0>;
		compatible = "wlf,wm8731";
		reg = <0x1a>;
	};

	adxl345: adxl345@0 {
		compatible = "adi,adxl345";
		reg = <0x53>;

		interrupt-parent = <&portc>;
		interrupts = <3 2>;
	};
};

&mmc0 {
	vmmc-supply = <&regulator_3_3v>;
	vqmmc-supply = <&regulator_3_3v>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};
